:root {
    --verde-claro: #B2FAB4;
    --verde-médio-claro: #7FD978;
    --verde-médio: #4BBF4A;
    --verde-médio-escuro: #39903B;
    --verde-escuro: #2A6B2E;
    --verde-muito-escuro: #1B4B1F;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    font-size: 10px;
  }

  
  