.containerMaior {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--verde-claro);
    margin: 3rem;
    width: 80%;
    min-width: 70%;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
.containerMenor ul {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 5rem;
    min-width: 5rem;
    width: 20rem;

}

.containerMenor{
    width: 50%;
    min-width: 18rem;
    margin: 2rem;
    background-color: var(--verde-médio-escuro);
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.containerMenor li {
    font-size: 1.2rem;
    font-family: Arial;
    padding: 10px;
    border-radius: 5px;
    width: 10rem; /* Para ocupar toda a largura do container */
    text-align: center;
    min-width: 5rem;
    
}
h2 {
    margin-left: 2rem;
}


